<!--
    File: search.html
    Author: Minjie Zuo (minjiez@bu.edu), 3/16/2026
    Description: Search form used to filter the voter list.
-->

<form method="get">
    <table>
        <tr>
            <th>Party Affiliation:</th>
            <td>
                <select name="party_affiliation">
                    <option value="">All</option>
                    <option value="D " {% if request.GET.party_affiliation == "D " %}selected{% endif %}>D</option>
                    <option value="R " {% if request.GET.party_affiliation == "R " %}selected{% endif %}>R</option>
                    <option value="U " {% if request.GET.party_affiliation == "U " %}selected{% endif %}>U</option>
                </select>
            </td>
        </tr>

        <tr>
            <th>Minimum Birth Year:</th>
            <td>
                <select name="min_birth_year">
                    <option value="">Any</option>
                    {% for year in years %}
                        <!-- Modify to keep the selected option after filtering. -->
                        <!-- request.GET values are always strings, but `year` in the loop is an integer.
                            Thus use `|stringformat:"s"` to convert `year` to a string. -->
                        <option value="{{ year }}" 
                        {% if request.GET.min_birth_year == year|stringformat:"s" %}selected{% endif %}>
                        {{ year }}
                        </option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <th>Maximum Birth Year:</th>
            <td>
                <select name="max_birth_year">
                    <option value="">Any</option>
                    {% for year in years %}
                        <!-- Modify to keep the selected option after filtering. -->
                        <!-- request.GET values are always strings, but `year` in the loop is an integer.
                            Thus use `|stringformat:"s"` to convert `year` to a string. -->
                        <option value="{{ year }}" 
                        {% if request.GET.max_birth_year == year|stringformat:"s" %}selected{% endif %}>
                        {{ year }}
                        </option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <th>Voter Score:</th>
            <td>
                <select name="voter_score">
                    <option value="">Any</option>
                    <option value="0" {% if request.GET.voter_score == "0" %}selected{% endif %}>0</option>
                    <option value="1" {% if request.GET.voter_score == "1" %}selected{% endif %}>1</option>
                    <option value="2" {% if request.GET.voter_score == "2" %}selected{% endif %}>2</option>
                    <option value="3" {% if request.GET.voter_score == "3" %}selected{% endif %}>3</option>
                    <option value="4" {% if request.GET.voter_score == "4" %}selected{% endif %}>4</option>
                    <option value="5" {% if request.GET.voter_score == "5" %}selected{% endif %}>5</option>
                </select>
            </td>
        </tr>

        <tr>
            <th>Voted In:</th>
            <td>
              <input type="checkbox" name="v20state" {% if request.GET.v20state %}checked{% endif %}> 2020 State
                <input type="checkbox" name="v21town" {% if request.GET.v21town %}checked{% endif %}> 2021 Town
                <input type="checkbox" name="v21primary" {% if request.GET.v21primary %}checked{% endif %}> 2021 Primary
                <input type="checkbox" name="v22general" {% if request.GET.v22general %}checked{% endif %}> 2022 General
                <input type="checkbox" name="v23town" {% if request.GET.v23town %}checked{% endif %}> 2023 Town
            </td>
        </tr>

        <tr>
            <td><input type="submit" value="Filter"></td>
            <td><a href=".">Clear</a></td>
        </tr>
    </table>
</form>