<!--
    File: voter.html
    Author: Minjie Zuo (minjiez@bu.edu), 3/16/2026
    Description: Template to display one voter record in detail.
-->

{% extends 'voter_analytics/base.html' %}

{% block content %}
    <h1>Voter Detail</h1>

    <!-- I choose to display the details of the selected voter in an table,
    although the assignment does not require a table layout, but a table provides a clear
    key–value structure -->
    <table border="1">
        <tr>
            <th>First Name</th>
            <td>{{ voter.first_name }}</td>
        </tr>

        <tr>
            <th>Last Name</th>
            <td>{{ voter.last_name }}</td>
        </tr>

        <tr>
            <th>Street Number</th>
            <td>{{ voter.street_number }}</td>
        </tr>

        <tr>
            <th>Street Name</th>
            <td>{{ voter.street_name }}</td>
        </tr>

        <tr>
            <th>Apartment Number</th>
            <td>{{ voter.apartment_number }}</td>
        </tr>

        <tr>
            <th>Zip Code</th>
            <td>{{ voter.zip_code }}</td>
        </tr>

        <tr>
            <th>Date of Birth</th>
            <td>{{ voter.date_of_birth }}</td>
        </tr>

        <tr>
            <th>Date of Registration</th>
            <td>{{ voter.date_of_registration }}</td>
        </tr>

        <tr>
            <th>Party Affiliation</th>
            <td>{{ voter.party_affiliation }}</td>
        </tr>

        <tr>
            <th>Precinct Number</th>
            <td>{{ voter.precinct_number }}</td>
        </tr>

        <tr>
            <th>Voted in 2020 State</th>
            <td>{{ voter.v20state }}</td>
        </tr>

        <tr>
            <th>Voted in 2021 Town</th>
            <td>{{ voter.v21town }}</td>
        </tr>

        <tr>
            <th>Voted in 2021 Primary</th>
            <td>{{ voter.v21primary }}</td>
        </tr>

        <tr>
            <th>Voted in 2022 General</th>
            <td>{{ voter.v22general }}</td>
        </tr>

        <tr>
            <th>Voted in 2023 Town</th>
            <td>{{ voter.v23town }}</td>
        </tr>

        <tr>
            <th>Voter Score</th>
            <td>{{ voter.voter_score }}</td>
        </tr>
    </table>

    <p>
        <a href="https://www.google.com/maps/search/{{ voter.street_number }}+{{ voter.street_name }}+Newton+MA+{{ voter.zip_code }}">
            View this voter's address on Google Maps
        </a>
    </p>

    <p>
        <a href="{% url 'voters' %}">Back to All Voters</a>
    </p>
{% endblock %}