{% extends "hw/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
  <h2>About Steve Jobs</h2>



  <p>
  Steve Jobs (1955–2011) was the co-founder of Apple and one of the most influential figures in the history of modern technology. His company created products such as the Macintosh, iPod, iPhone, and iPad, which transformed the way people use computers, listen to music, and communicate.<br>
  Jobs was known for his strong focus on design and innovation. His leadership style and vision shaped Apple into one of the most valuable technology companies in the world and left a lasting impact on the global technology industry.
  </p>


  <h2>About This Website</h2>

 
  <p>
  This website was created by Minjie (Zoe) Zuo, a senior student, with expected graduation date of May 2026 who majoring in Computer Science at Boston University.<br>
  It displays random Steve Jobs quotes and images using Python lists and Django templates.<br>
  The purpose of this project is to practice building web pages, working with URL routing, template inheritance, and passing data from Python views to HTML templates using Django.
  </p>

{% endblock %}
