<!-- dadjokes/templates/dadjokes/base.html -->
 <!--author: Minjie Zuo, 3/28/2026-->
<!-- Base template for the dadjokes app. Other templates will extend this one. -->
<!DOCTYPE html>
<html>
<head>
    <title>Dad Jokes</title>
</head>
<body>
    <h1>Dad Jokes</h1>

    <nav>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'random' %}">Random</a> |
        <a href="{% url 'show_all_jokes' %}">All Jokes</a> |
        <a href="{% url 'show_all_pictures' %}">All Pictures</a>
    </nav>

    <hr>

    {% block content %}
    {% endblock %}
</body>
</html>