<!-- dadjokes/templates/dadjokes/home.html -->
 <!--author: Minjie Zuo, 3/28/2026-->
<!-- Home page template for the dadjokes app. Displays a random joke and picture. -->
{% extends 'dadjokes/base.html' %}

{% block content %}
    <h2>A Random Joke</h2>

<div class="content-block">
    <h3 class="section-title">Joke</h3>
    {% if joke %}
        <p class="main-text">{{ joke.text }}</p>
        <p>
            {{ joke.contributor }} · {{ joke.created_at }}
        </p>

    {% else %}
        <p>No jokes available yet.</p>
    {% endif %}
    <hr>

<div class="content-block">
    <h3 class="section-title">Picture</h3>
    {% if picture %}
        <img src="{{ picture.image_url }}" alt="hahaha" width="300">
        <p>
            {{ picture.contributor }} · {{ picture.created_at }}
        </p>
    {% else %}
        <p>No pictures available yet.</p>
    {% endif %}
{% endblock %}