<!-- dadjokes/templates/dadjokes/show_picture.html -->
<!--author: Minjie Zuo, 3/28/2026-->
<!-- Template to display a single picture in the dadjokes app. -->
{% extends 'dadjokes/base.html' %}

{% block content %}
<div class="content-block">
    <h2 class="section-title">Picture</h2>

    <img src="{{ picture.image_url }}" class="picture-img">
    <p>
        {{ picture.contributor }} · {{ picture.created_at }}
    </p>

    <p><a href="{% url 'show_all_pictures' %}">Back to all pictures</a></p>
</div>
{% endblock %}