<!-- dadjokes/templates/dadjokes/show_all_pictures.html -->
<!--author: Minjie Zuo, 3/28/2026-->
<!-- Template to display all pictures in the dadjokes app. -->

{% extends 'dadjokes/base.html' %}

{% block content %}
    <h2>All Pictures</h2>

    {% if pictures %}
        {% for picture in pictures %}
            <div class="image-center">
                <img src="{{ picture.image_url }}" width="300">
                <p>Contributor: {{ picture.contributor }}</p>
                <p>Created at: {{ picture.created_at }}</p>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <p>No pictures available yet.</p>
    {% endif %}
{% endblock %}