<!-- dadjokes/templates/dadjokes/show_all_jokes.html -->
<!--author: Minjie Zuo, 3/28/2026-->
<!-- Template to display all jokes in the dadjokes app. -->

{% extends 'dadjokes/base.html' %}

{% block content %}
    <h2>All Jokes</h2>

    {% if jokes %}
        {% for joke in jokes %}
            <div>
                <p>{{ joke.text }}</p>
                <p>Contributor: {{ joke.contributor }}</p>
                <p>Created at: {{ joke.created_at }}</p>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <p>No jokes available yet.</p>
    {% endif %}
{% endblock %}