<!-- dadjokes/templates/dadjokes/show_joke.html -->
<!--author: Minjie Zuo, 3/28/2026-->
<!-- Template to display a single joke in the dadjokes app. -->

{% extends 'dadjokes/base.html' %}

{% block content %}
<div class="content-block">
    <h2 class="section-title">Joke</h2>

    <p class="joke-text">{{ joke.text }}</p>
    <p class="meta-info">
        {{ joke.contributor }} · {{ joke.created_at }}
    </p>

    <p><a href="{% url 'show_all_jokes' %}">Back to all jokes</a></p>
</div>
{% endblock %}