/*Base layout*/

html, body {
  margin: 0;
  height: 100%;
}

body {
  background:rgb(220, 219, 219);
  color: #1f2937;

  /*make footer at the bottom*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Header and Nav*/
header {
  background: #111827;
  color: white;
  padding: 18px 20px;
}

header h1 {
  margin: 0;
  font-size: 26px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 14px;
  font-weight: bold;
}


/* Main Content*/
main {
  flex: 1;
  padding: 20px;
}

h2 {
  width: 85%;
  margin: 24px auto 10px auto;
  font-size: 22px;
}

p {
  width: 85%;
  margin: 10px auto;

  background: white;
  padding: 14px 16px;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.06);

  line-height: 1.6;
}

/*Images*/

img {
  display: block;
  margin: 12px auto;

  max-width: 85%;
  height: auto;
  border-radius: 10px; /*make pic round*/
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

/*Show All Page Lists*/

ul {
  width: 85%;
  margin: 10px auto 18px auto;
  background: white;
  padding: 12px 22px;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.06);
}

li {
  margin: 8px 0;
  line-height: 1.5;
}

/*Footer*/

footer {
  padding: 16px;
  text-align: center;
  background: #111827;
  color: #e5e7eb;
}



/*Adjust for assignment 3 point taken*/
.profile-username {
  font-weight: 600;
  color: black;
  margin-bottom: 2px;
}

.profile-display-name {
  color: #8e8e8e; 
  font-size: 14px;
  margin-bottom: 8px;
}