<!-- mini-insta/templates/mini-insta/base.html -->
<!-- Author: Minjie Zuo (minjiez@bu.edu), 2/11/2026 -->
<!--This is the base template that all other templates will extend. It defines the overall structure of the page, including the header, main content area, and footer.-->


{% load static %}

<!--I define many classes for styling purposes-->
<html>
  <head>
    <title>Mini - Insta</title>
    <!-- Link external CSS file-->
    <link rel="stylesheet" href="{% static 'mini_insta_styles.css' %}">
  </head>

  <body>
     <!-- Header section: displays site title and navigation link -->
    <header class="site-header">
      <div class="header-inner">
        <div class="logo">Mini - Insta</div>
        {% if request.user.is_authenticated %}
          <a class="nav-link" href="{% url 'show_all_profiles' %}">Home</a>
        {% endif %}
      </div>

    </header>




    <main class="page">
    <div class="auth-status">
      {% if request.user.is_authenticated %}
        Logged in user: {{ request.user }}.

        <!-- Link to my profile -->
        <a class="nav-link profile-link" href="{% url 'profile' %}">My Profile</a>

        <!-- Logout-->
        <form method="post" action="{% url 'logout' %}" class="logout-form">
          {% csrf_token %}
          <button type="submit" class="nav-link profile-link">Logout</button>
        </form>

      {% else %}
        Not logged in.

        <!-- Login link -->
        <a class="nav-link profile-link" href="{% url 'login' %}">Login</a>
        <a class="nav-link profile-link" href="{% url 'create_profile' %}">Create Profile/Account</a>
      {% endif %}
    </div>
      
    {% block content %}
    {% endblock %}
    </main>


    <footer class="site-footer">

      {% if request.user.is_authenticated and profile and request.user == profile.user %}
        <!-- Home Icon -->
        <a class="footer-link" href="{% url 'show_feed'%}">
          <img class="nav-icon" src="{% static 'home.png' %}" alt="Home">
        </a>

        <!-- Profile Icon -->
        <a class="footer-link" href="{% url 'profile' %}">
          <img class="nav-icon" src="{% static 'R.png' %}" alt="Profile">
        </a>

      
        <!-- Create Post -->
        <a class="nav-icon-link create-link" href="{% url 'create_post'%}">
          <img class="nav-icon create-icon" src="{% static 'plus.png' %}" alt="Create">
        </a>
        
        <!-- Search Icon -->
         <a class="footer-link" href="{% url 'search'%}">
          <img class="nav-icon" src="{% static 'search.png' %}" alt="Search">
        </a>

      {% endif %}


    </footer>
  </body>
</html>
