<!-- mini-insta/templates/mini-insta/base.html -->
<!-- Author: Minjie Zuo (minjiez@bu.edu), 2/11/2026 -->
<!--This is the base template that all other templates will extend. It defines the overall structure of the page, including the header, main content area, and footer.-->


{% load static %}

<!--I define many classes for styling purposes-->
<html>
  <head>
    <title>Mini - Insta</title>
    <!-- Link external CSS file-->
    <link rel="stylesheet" href="{% static 'mini_insta_styles.css' %}">
  </head>

  <body>
     <!-- Header section: displays site title and navigation link -->
    <header class="site-header">
      <div class="header-inner">
        <div class="logo">Mini - Insta</div>
        {% if profile %}
          <a class="nav-link" href="{% url 'show_all_profiles' %}">Home</a>
        {% endif %}
      </div>
    </header>

    <main class="page">
      {% block content %}
      {% endblock %}
    </main>


    <footer class="site-footer">

      {% if profile %}
        <!-- Home Icon -->
        <a class="footer-link" href="{% url 'show_feed' profile.pk %}">
          <img class="nav-icon" src="{% static 'home.png' %}" alt="Home">
        </a>

        <!-- Profile Icon -->
        <a class="footer-link" href="{% url 'show_profile' profile.pk %}">
          <img class="nav-icon" src="{% static 'R.png' %}" alt="Profile">
        </a>

      
          <!-- Create Post -->
        <a class="nav-icon-link create-link" href="{% url 'create_post' profile.pk %}">
          <img class="nav-icon create-icon" src="{% static 'plus.png' %}" alt="Create">
        </a>

        <!-- Search link -->
        <a class="footer-link" href="{% url 'search' profile.pk %}">Search</a>
      {% endif %}


    </footer>
    
    </footer>
  </body>
</html>
