<!-- mini_insta/templates/mini_insta/login.html -->
 <!--
Author: Minjie Zuo (minjiez@bu.edu)
This template renders the login form. It extends the base template and uses Django's built-in authentication views. The form submits a POST request to the 'login' URL, which is handled by Django's LoginView. If there is a 'next' parameter in the GET request (which indicates where to redirect after login), it includes that as a hidden input in the form. Otherwise, it defaults to redirecting to the profile page after login.
-->
{% extends 'mini_insta/base.html' %}

{% block content %}
<h1>Login</h1>

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}

    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% else %}
        <input type="hidden" name="next" value="{% url 'show_all_profiles' %}">
    {% endif %}

    <input type="submit" value="Login">
</form>

{% endblock %}