<!-- mini_insta/templates/mini_insta/search.html -->
<!--
Author: Minjie Zuo (minjiez@bu.edu)
Render a simple search form (not a model form).
-->

{% extends "mini_insta/base.html" %}

{% block content %}

<div class="form-card">

  <div class="form-title">Search</div>

  <form method="GET" action="{% url 'search'%}">
    <div>
      <label for="id_query">Search text</label><br>
      <textarea id="id_query" name="query" rows="2"></textarea>
    </div>

    <br>

    <button type="submit">Search</button>
  </form>

</div>

{% endblock %}