{% extends "mini_insta/base.html" %}

{% block content %}

<h2>Showing all Profiles</h2>

<div>
  {% for p in profiles %}
  <div>

    {% if p.profile_image_url %}
    <a href="{% url 'show_profile' p.pk %}">
      <img src="{{ p.profile_image_url }}" alt="{{ p.profile_image_url }}" width="150">
    </a>
    {% endif %}

    <div>
      <a href="{% url 'show_profile' p.pk %}">
        <strong>{{ p.username }}</strong>
      </a>
    </div>

    <div>
      {{ p.display_name }}
    </div>

  </div>

  <hr>

  {% endfor %}
</div>

{% endblock %}
