<!-- mini_insta/templates/mini_insta/show_post.html -->
<!--
Author: Minjie Zuo (minjiez@bu.edu), 2/19/2026
This template displays one Post (caption + timestamp) and all Photos
associated with that Post.
-->

{% extends "mini_insta/base.html" %}
{% load static %}<!--for no image-->
{% block content %}

<div class="card">

  <!-- Post meta -->
  {% if post.caption %}
    <div class="post-caption">{{ post.caption }}</div>
  {% endif %}

  <div class="post-time">{{ post.timestamp }}</div>

  <div class="post-photos-grid">

  <div class="post-card">
    {% for photo in post.get_all_photos %}
        <img class="post-img" src="{{ photo.image_url }}" alt="post image">
    {% empty %} <!--use empty here because i used a for loop, function like 'else'-->
        <img class="post-img img-placeholder" src="{% static 'no_image.png' %}" alt="no image available">
    {% endfor %}

  </div>

  </div>

</div>

{% endblock %}
