<!-- mini_insta/templates/mini_insta/show_all_profiles.html -->
<!--
Author: Minjie Zuo (minjiez@bu.edu), 2/11/2026
This template extends the base template and displays all profiles in a grid layout.
Each profile image links to its corresponding detail page (show_profile view).
-->


{% extends "mini_insta/base.html" %}

{% block content %}

<div class="profiles-grid">
  {% for p in profiles %}
    {% if p.profile_image_url %}

      <a class="profile-tile" href="{% url 'show_profile' p.pk %}">
        
        <div class="profile-display-name">{{ p.display_name }}</div>
        <div class="profile-username">{{ p.username }}</div>

        <img class="profile-img" src="{{ p.profile_image_url }}" alt="{{ p.profile_image_url }}">

      </a>

    {% endif %}
  {% endfor %}
</div>

{% endblock %}

