<!-- mini_insta/templates/mini_insta/show_profile.html -->
<!--
Author: Minjie Zuo (minjiez@bu.edu), 2/11/2026
This template extends the base template and displays the details
for a single profile for a specific person.
-->


{% extends "mini_insta/base.html" %}
{% load static %}

{% block content %}

<div class="card">

  <div class="top">
    <div class="avatar">
      {% if profile.profile_image_url %} <!-- only display the image if the URL is not empty -->
        <img class="avatar-img" src="{{ profile.profile_image_url }}" alt="profile image">
      {% endif %}
    </div>

    <div class="info">
      <div class="names">
        <div class="display">
          {{ profile.display_name }}
        </div>
        <div class="handle">
          @{{ profile.username }}
        </div>
      </div>

      {% if profile.bio_text %}
        <div class="bio">
          {{ profile.bio_text }}
        </div>
      {% endif %}

      <div class="joined">
        Joined {{ profile.join_date }}
      </div>
    </div>
  </div>

   <!-- Statistics section, use placeholders-->
  <div class="stats">
    <div class="stat">
      <strong>Followers</strong>
      <div>coming soon</div>
    </div>

    <div class="stat">
      <strong>Following</strong>
      <div>coming soon</div>
    </div>

    <div class="stat">
      <strong>Posts</strong>
      <!-- Display the number of Posts for this Profile -->
      <div>{{ profile.get_all_posts|length }}</div>
    </div>
   </div>


  <!-- Posts section -->
  <!-- Loop through all Posts associated with this Profile -->
  <div class="posts">
    <div class="section-title">Posts</div>

    {% for post in profile.get_all_posts %}
      <!-- Display a single Post -->
      <!--task 1.5-->
      <div class="post-card">
        <!-- Link to the Post detail page -->
        <a href="{% url 'show_post' post.pk %}">
        {% if post.get_first_photo %}
          <img class="post-img" src="{{ post.get_first_photo.image_url }}" alt="post image">
        {% else %}
          <img class="post-img img-placeholder" src="{% static 'no_image.png' %}" alt="no image available">
        {% endif %}

        
        </a>

        {% if post.caption %}
          <div class="post-caption">
            {{ post.caption }}
          </div>
        {% endif %}

        <div class="post-time">
          {{ post.timestamp }}
        </div>

      </div>

    {% empty %}
      <div>No posts yet.</div>
    {% endfor %}

  </div>


</div>

{% endblock %}
