body {
  margin: 0;
  font: Arial, sans-serif;
  background: #fff6ef; 
  color: #2a2a2a;
}

/* Links */
a {
  color: #ff4d6d;   
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

/* Header */
.header {
  background: linear-gradient(90deg, #ff9a9e, #fad0c4); /* some color styling for the header */
  padding: 18px 24px;
  border-bottom: 4px solid #ff6f91;
  text-align: center;
}

.header h2 {
  margin: 0;
  font-size: 28px;
  color: #ffffff;
  letter-spacing: 1px;
}

.header p {
  margin: 10px 0 0 0;
}

.header a {
  color: white;
  background: rgba(255,255,255,0.25);
  padding: 6px 12px;
  border-radius: 20px;
  margin: 0 6px;
  font-size: 14px;
}

.header a:hover {
  background: rgba(255,255,255,0.4);
}


/* Main page container */
.container {
  max-width: 850px;
  margin: 30px auto;
  padding: 24px 26px;
}

/* Headings */
h1 {
  margin-top: 0;
  font-size: 30px;
}

h2 {
  margin-top: 16px;
  font-size: 18px;
  color: #ff006e;   
}


.badge {
  display: inline-block;
  background: #bde0fe; 
  border: 2px solid #a2d2ff;
  color: #1d3557;
  padding: 6px 10px;
  border-radius: 999px;
  font-weight: bold;
}

/* Images */
img {
  max-width: 330px; /* control size */
  height: auto;  /* keep proportions */
  border-radius: 16px;
  border: 2px solid #ffd6a5;
  margin-top: 10px;
  margin-right: 10px;
}


/* Form layout */
form {
  margin-top: 10px;
}




/* Inputs */
input[type="text"],
input[type="email"] {
  width: 280px;
  padding: 9px 10px;
  border-radius: 12px;
  border: 2px solid #ffd6a5;
  outline: none;
  background: #fff;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #ff4d6d;
}


/* Buttons */
input[type="submit"] {
  background: #ff4d6d;   
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 6px 0 rgba(255, 77, 109, 0.35);
}

input[type="submit"]:hover {
  background: #ff2e55;
}

/* Confirmation highlights */
.total {
  font-size: 22px;
  font-weight: bold;
  color: #06d6a0; 
}

.ready {
  background: #e9ffe6;
  border: 2px solid #06d6a0;
  padding: 10px 12px;
  border-radius: 14px;
  display: inline-block;
}

/* Lists */
ul {
  padding-left: 18px;
}
